/* Common */

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */
  position: relative;
  min-height: 100%;
}

body {
  background-color: $body-bg;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

a, button {
  @include hover-focus-active {
    outline: none;
  }
}
