/* Common */

html {
  font-size: 100%;
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

body {
  background-color: $body-bg;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $grey;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

html, body {
  min-height: 100vh;
}

a, button {
  @include hover-focus-active {
    outline: none;
  }
}

.link {
  color: $primary;
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    background-color: $primary-bg;
    transition: width .3s;
    z-index: -1;
  }

  &:hover {
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

.wrapper {
  flex-grow: 1;
}

.section {
  padding-top: 40px;
  padding-bottom: 50px;
}

.section-light {
  background-color: $primary-bg;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: $primary;
  margin-bottom: 40px;
}


@include media-breakpoint-up(md) {

  .section {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .heading {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }

}


@include media-breakpoint-up(xl) {

  .section {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .heading {
    font-size: 2.75rem;
    margin-bottom: 60px;
  }

}


@include media-breakpoint-up(xxl) {

  .section {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .heading {
    font-size: 3rem;
    margin-bottom: 70px;
  }

}
