/* Footer */
.footer {
  background-color: $footer-bg;
  height: 60px;
  @include vpad(15);
}

.copyright-text {
  line-height: 30px;
}


@include media-breakpoint-up(xl) {

  .footer {
    height: 80px;
    @include vpad(25);
  }

}
