/* Header */

.top-nav {
  box-shadow: $shadow;
  @include vpad(10);

  .navbar-brand {
    font-size: 1.25rem;
  }
}


@include media-breakpoint-up(xl){

  .top-nav {
    @include vpad(20);
    transition: padding .3s;

    .navbar-brand {
      font-size: 1.5rem;
      transition: font .3s;
    }

    &.navbar-shrink {
      @include vpad(5);

      .navbar-brand {
        font-size: 1.25rem;
      }

      .navbar-nav {
        .nav-link {
          //font-size: 1rem;
        }
      }
    }
  }

}
